<div class="flex justify-center items-center h-[calc(100vh-128px)]">
    <div class="flex flex-col items-center gap-14">
        <h1 class="text-4xl">Seja bem-vindo</h1>

        <mat-card class="example-card " appearance="outlined">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Cadastre-se</mat-card-title>
            </mat-card-header>
            <mat-card-content class="flex flex-col space-y-4">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder="joao@email.com">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Senha</mat-label>
                        <input matInput placeholder="***">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Confirmar senha</mat-label>
                        <input matInput placeholder="***">
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Cadastrar</button>
            </mat-card-actions>
        </mat-card>
    </div>


</div>