<div class="flex flex-col items-center gap-14 p-10">

    <mat-card class="example-card">
        <mat-card-header class="flex">
            <mat-card-title>Categorias</mat-card-title>
        </mat-card-header>
        <mat-card-content class="flex flex-col space-y-2">
            <div>
                <p class="font-bold">ID:</p>
                <p>{{categoriaInput.id}}</p>
            </div>

            <div>
                <p class="font-bold">Tipo:</p>
                <p>{{categoriaInput.tipo}}</p>
            </div>

        </mat-card-content>
    </mat-card>
</div>