<div class="flex flex-col items-center gap-14">

    <mat-card class="example-card " appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Cadastre seus gastos</mat-card-title>
        </mat-card-header>
        <mat-card-content class="flex flex-col space-y-4">
            <form class="example-form" (ngSubmit)="salvar()" #form="ngForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Categoria</mat-label>
                    <select matNativeControl [(ngModel)]="categoriaId" name="categoriaId" required>
                        <option value="" disabled>Selecione uma categoria</option>
                        @for (categoria of categorias; track categoria.id) {
                            <option [value]="categoria.id">{{ categoria.tipo }}</option>
                        }
                    </select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Valor</mat-label>
                    <input type="number" matInput placeholder="R$ 10,00" [(ngModel)]="valor" name="valor">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Descricao</mat-label>
                    <input type="text" matInput placeholder="Ex: Mercado da semana" [(ngModel)]="descricao" name="descricao" required>
                </mat-form-field>
                <mat-card-actions class="flex justify-center">
                    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Cadastrar</button>
                </mat-card-actions>
            </form>
        </mat-card-content>

    </mat-card>
</div>